.contacts {
    padding: 50px;
    min-height: 600px;
    &__title {
        margin-top: 60px;
    }
    &__box {
        height: 200px;
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 22px;
        line-height: 31px;
    }
    &__link {
        position: relative;
        margin-left: 40px;
    }
    .tel::before, .email::before, .address::before {
        content: '';
        position: absolute;
        background-image: url('../../icons/phone.png');
        width: 24px;
        height: 24px;
        left: -40px;
        top: 50%;
        transform: translateY(-50%);
    }
    .email::before {
        background-image: url('../../icons/email.png');
    }
    .address::before {
        background-image: url('../../icons/place.png');
    }
}