.footer {
    min-height: 100px;
    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        font-size: 24px;
        font-weight: 500;
    }
    &-menu__list {
        width: 550px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-menu__link {
        font-size: 18px;
    }
}