.header {
    position: relative;
    height: 80px;
    .logo__link {
        img {
            width: 100%;
        }
    }
}

.menu {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__list {
        width: 550px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
        font-size: 18px;
    }
}
.hamburger {
    display: none;
}