.header {
    position: relative;
    height: 80px;
    .logo__link {
        img {
            width: 100%;
        }
    }
}

.menu {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        // width: 75px;
        height: 55px;
        img {
            width: 100%;
        }
    }
    &__list {
        width: 550px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
        font-size: 18px;
        font-weight: 500;
        &:hover {
            color: #323172;
        }
    }
}
.hamburger {
    display: none;
}