.main {
    min-height: calc(100vh - 80px);
    padding: 160px 0 70px 0;
    background: url('../img/bg-01.jpg') center center/cover no-repeat;
    color: #fff;
    text-align: right;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__descr {
        width: 400px;
        margin-top: 5%;
        font-size: 21px;
        line-height: 24px;
    }
    &__btn {
        width: 260px;
        margin-top: 4%;
        padding: 10px;
        height: 54px;
        font-size: 18px;
        background: inherit;
        outline: none;
        border: 3px solid #fff;
        transition: .6s all;
        &:hover {
            border-color: #4255A0;
        }
        a {
            color: #fff;
            transition: .6s all;
            &:hover {
                color: #4255A0;
            }
        }
    }
}